<body id="page-top">
  <!-- Navigation-->
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
    id="sideNav"
  >
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Tesis de grado</span>
      <span class="d-none d-lg-block"
        ><img
          class="img-fluid img-profile rounded-circle mx-auto mb-2"
          src="https://www.unipamplona.edu.co/unipamplona/portalIG/home_132/recursos/general/27082022/logo_act.jpeg"
          alt="..."
      /></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Resumen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Objetivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Resultados</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Page Content-->
  <div class="container-fluid p-0">
    <!-- Start -->
    <section class="resume-section" id="about">
      <div class="resume-section-content">
        <h1 class="mb-0">
          CONTROL DE NIVEL DE LÍQUIDO POR MEDIO DE VISIÓN ARTIFICIAL UTILIZANDO
          SISTEMA EMBEBIDO
        </h1>
        <div class="subheading mb-5">Darney Rafael Aguas Manzano</div>
        <p class="lead mb-5">
          
        </p>
        <div class="social-icons">
          <a class="social-icon" href="https://www.linkedin.com/in/darney-aguas-048163228/" target="_blank"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a class="social-icon" href="https://github.com/Darneyaguas11" target="_blank"><i class="fab fa-github"></i></a>
          <a class="social-icon" href="https://walink.co/17e943" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a class="social-icon" href="https://www.facebook.com/DarneyAguas" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Resume-->
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 class="mb-5">Resumen</h2>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <p>
              El siguiente proyecto tiene como objetivo primordial diseñar e
              implementar un sistema inteligente con visión artificial en
              Raspberry pi4 para el control de llenado de tanques en un
              prototipo en el laboratorio de automatización y control de la
              universidad de pamplona, el sistema inteligente con visión
              artificial se apoyará con inteligencia artificial a partir de
              redes neuronales, el sistema se desarrollará en tres fases
              principales, creación de la base de datos, procesamiento de
              imágenes, clasificación de imágenes. En la fase de creación de
              base de datos se recolectarán imágenes a través de la cámara de la
              Raspberry pi4 junto al etiquetado de cada imagen con el tipo de
              nivel de líquido, en la fase de procesamiento de imágenes se
              aplicarán técnicas con el fin de destacar las zonas de interés y
              crear patrones característicos los cuales se utilizarán en la fase
              de clasificación de imágenes por medio de la creación y
              entrenamiento de un modelo de red neuronal capaz de diferenciar
              los niveles de líquido y finalmente el diseño e implementación de
              una interfaz gráfica programada en Python en sincronía con el
              modelo de red neuronal entrenado para controlar el nivel de
              llenado de tanques en el prototipo.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Goals -->
    <section class="resume-section" id="education">
      <div class="resume-section-content">
        <h2 class="mb-5">Objetivos</h2>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Objetivo General</h3>
            <div>
              Implementar un control de nivel de líquido por medio de visión
              artificial utilizando un sistema embebido.
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">Objetivos Específicos</h3>
            <p>
              <li>
                Aplicar técnicas de procesamiento a las imágenes capturadas para
                entrenar múltiples redes neuronales para la clasificación del
                nivel de liquido.
              </li>
              <li>
                Seleccionar la mejor red neuronal capaz de medir el porcentaje
                del nivel de liquido presente en el tanque del prototipo.
              </li>
              <li>
                Implementar el modelo de red neuronal en la raspberry pi4
                realizando captura de imágenes en tiempo real para determinar el
                porcentaje de nivel de liquido en el tanque.
              </li>
              <li>
                Programar e implementar una interfaz gráfica en python que
                permita el control de nivel de liquido en los tanques.
              </li>
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Results -->
    <section class="resume-section" id="skills">
      <div class="resume-section-content">
        <h2 class="mb-5">Resultados</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item"><i class="fab fa-html5"></i></li>
          <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
          <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-angular"></i></li>
          <li class="list-inline-item"><i class="fab fa-react"></i></li>
          <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
          <li class="list-inline-item"><i class="fab fa-sass"></i></li>
          <li class="list-inline-item"><i class="fab fa-less"></i></li>
          <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
          <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
          <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
          <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Mobile-First, Responsive Design
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Cross Browser Testing & Debugging
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Cross Functional Teams
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Agile Development & Scrum
          </li>
        </ul>
      </div>
    </section>
    <hr class="m-0" />
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>
